*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.head{
    width: 100%;
    height: 350px;
   
}
nav{
    height: 50px;
    /* background-color:whitesmoke; */
}
.container{
    width:90%;
    margin: 0 auto;
    padding: 1px 15px;
    line-height: 50px;
}
.c-left{
    float: left;
}
.c-right{
    float: right;
}
button{
    border: 1px solid black;
    padding: 8px 15px;
    border-radius: 4px;
    background: white;
}
.h-content{
    background-image:linear-gradient(45deg, #f1eff6 0%, rgba(7, 2, 17, 0.00) 100%), url(assets/Hero-bg.png);
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
   
   
   
}
.h-content .item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
    gap: 15px;
    
}
.item img{
    width: 40%;
}
.black{
    background: black;
    color: white;
}
.h-content .item p{
    color:gray;
    font-size: 10px;
}
.h-content .item h1{
    font-size: 30px;
}
header{
    margin-bottom: 30px;
}
.padding{
    padding: 20px;
}

main>.container{
    /* height: 1117px; */
    
    margin-bottom: 50px;
}
.text-color{
    color: black;
    
}
.font{
    font-size: 13px;
}
.margin{
    margin:0 auto;
}
.developer{
    width: 90%;
}
.align{
    text-align: center;
}
.f-left{
    float:left;
    width: 50%;
}
.f-right{
    float: right;
    width: 50%;
}
.m-content{
    height:300px;
    background-color: white;
    padding: 30px 50PX;
    border-radius: 5px;
    margin-top: 30px;
}
.img-w{
    width: 250px;
    height: 200px;

    
}
.right{
    text-align: right; 
}
.w-width{
    width: 60%;
}
.inspiration{
    margin-bottom: 30px;
    width: 60%;
}
.jhankar-vai{
    border: 1px solid gray;
    height: 430px;
    width: 90%;
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 50px;
}
.m-bottom{
    margin-bottom: 20px;
}
.d-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.css{
    padding: 2%;
    display: flex;

}
.html{
    width: 30%;
    margin-left: 25px;
    
    
}
.html a{
    text-decoration: none;
}
.b-html{
    border-radius: 16px;
    padding: 25px;
background: rgba(255, 76, 30, 0.05);
}
.c-html{
    border-radius: 16px;
    padding: 25px;
background: rgba(0, 76, 232, 0.05);
}
.j-html{
    border-radius: 16px;
    padding: 25px;
background: rgba(255, 223, 0, 0.05);
}
.bg{
    background: rgb(240, 239, 239);
}


